.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 274px;
}
.buttonContainer {
  margin-left: auto;
  min-width: 146px;
}
.button {
  background: red;
  border-radius: 5px;
  margin: 0px 5px;
  margin-left: auto;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
}
